# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
env/
ENV/
# Ignore everything inside data/
data/**

# Allow the folder itself (so Git can see inside)
!data/

# Allow DVC metafiles
!data/*.dvc
!data/**/*.dvc

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Images
*.png

#evalution results
src/docs/evaluation_result

#.env
.env